@import "lib/additional.scss"; 
@include reset(); 

// Browsersync mark
#__bs_notify__ { 
	background-color: rgba(27, 32, 50, 0.4) !important;
	color: rgba(250, 250, 250, 0.6) !important;
}

// Include breakpoints badge
body { @include screen-media(); }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);


// @include font-face("Montserrat-ExtraLight", "DM", 100);
// @include font-face("Montserrat-ExtraBold", "DM", 800);
// @include font-face("Montserrat-SemiBold", "DM", 600);
// @include font-face("Montserrat-Regular", "DM", 400);
// @include font-face("Montserrat-Medium", "DM", 500);
// @include font-face("Montserrat-Light", "DM", 300);
// @include font-face("Montserrat-Black", "DM", 900);
// @include font-face("Montserrat-Bold", "DM", 700);
// @include font-face("Montserrat-Thin", "DM", 200);

// @import "../../node_modules/swiper/swiper";

// Import BEM blocks scss
@import "../blocks/**/*.scss";

:root {
	--size: #{$basesize}px;
	--container: 1240px;
	--gap: 24px;
	
	@include media('<=xs') {
		--gap: 16px;
	}
}


body, html {
	scrollbar-gutter: stable;
	box-sizing: border-box;
	background-color: #fafafa;
	font-size: var(--size);
	font-family: sans-serif;
	line-height: 1.2;
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}
// .main { flex: 1 0 auto; }
.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}


p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }